/* GLOBAL VARIABLES */
:root{
    --accent-color: #825574;
    --alt-accent-color: #CFB0C5;
    --bg-color: #fff4e0;
    --dark-green: #8dac87;
    --light-green: #b4cfb0;
    --logo-color: #263330;
    --text-color: #384541;
    --main-border-radius: 20px;
    --box-shadow: 0 0 2px var(--text-color);
  }
  /* ELEMENT TAGS */
  body {
    background: var(--bg-color);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    min-height: calc(100vh - 96px);
  }
  
  
  a {
    text-decoration: none;
  }
  
  hr {
    width: 17rem;
    margin-bottom: 2rem;
  }
  
  
  /* GROUPED SELECTORS */
  a, hr, p,
  .copy, .lable, .lib-btn {
    color: var(--text-color);
  }
  
  .game-info,
  .foot {
    background: var(--light-green);
  }
  
  .next-btn, .prev-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 10rem;
    position: absolute;
    top: 42%;
    width: auto;
    padding: .5rem;
    color: var(--logo-color);
    font-weight: bold;
    font-size: 18px;
    transition: 400ms ease;
    user-select: none;
    z-index: 1;
  }
  
  
  .next-btn:hover, .prev-btn:hover{
    background: var(--dark-green);
    border-radius: var(--main-border-radius);
  }
  
  #modal{
    background: var(--light-green);
    border: none;
    border-radius: var(--main-border-radius);
    box-shadow: 0 0 3px #000;
    width: 80%;
    height: 60%;
    z-index: 500;
  }
  
  #modal > p {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
    line-height: 1.5rem;
    width: 80%;
  }
  
  
  #dialog{
    background: var(--light-green);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 4px var(--accent-color);
    margin-top: 20%;
    width: 7rem;
    height: 7rem;
    z-index: 500;
  }
  
  #dialog > p {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    font-weight: 500;
    text-align: center;
    line-height: 1rem;
    width: 50%;
  }
  
  dialog::backdrop {
    background-color: hsla(120, 10%, 81%, 0.5);
    backdrop-filter: blur(3px);
  }
  
  .dialog-close-btn {
    background: var(--accent-color);
    border: none;
    box-shadow: 0 2px 5px var(--alt-accent-color);
    border-radius: 10px;
    color: #f3f3c7;
    font-weight: bold;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    transition: background 300ms; 
  }
  
  .dialog-close-btn:hover {
    color: var(--text-color);
    background: var(--alt-accent-color);
  }
  
  #close-btn:hover {
    color: var(--text-color);
    background: var(--alt-accent-color);
  }
  
  /* GALLERY */
  
  #desBox{
    margin-bottom: 1rem;
  }
  
  
  .feature-name, .feature-des{
    border: var(--text-color);
    color: var(--text-color);
  }
  
  .feature-card {
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    height: 40rem;
    width: 93%;
    overflow: hidden;
    position: absolute;
  }
  
  .gallery{
    display: flex;
    justify-content: center;
    background: var(--light-green);
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow);
    height: 40rem;
    padding: 0 1rem;
    position: relative;
    margin: 0 auto;
    width: 72%;
  }
  
  .gallery-img{
    border-radius: var(--main-border-radius);
    box-shadow: 3px 3px 7px var(--alt-accent-color);
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    margin-top: .95rem;
  }
  
  .featured{
    margin-top: -1rem;
  }
  
  
  .feature-des{
    text-align: left;
    margin-bottom: 1rem;
    height: 20rem;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
  
  .feature-add-btn{
    position: absolute;
    background: var(--accent-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 10px;
    color: #f3f3c7;
    font-size: large;
    font-weight: 700;
    font-size: 1.5rem;
    padding: .4rem 1rem;
    left: 83%;
    top: .15rem;
    transition: background 300ms;
    z-index: 100;
  }
  
  .feature-add-btn:hover{
    background: var(--alt-accent-color);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }
  
  .next-btn{
    right: .25rem;
  }
  
  .prev-btn{
    left: .25rem;
  }
  
  /* MAIN BODY */
  
  .page-content{
    margin-top: 7rem;
    width: 100vw;
  }
  
  #result_content{
    display: none;
    height: 45rem;
  }
  
  #search_results{
    margin-top: 1rem;
    overflow-y: auto;
  }
  
  .search-lable{
    background: var(--bg-color);
    justify-self: center;
    padding: .5rem 0 1.25rem;
    position: sticky;
    top: 5rem;
    height: 5rem;
    width: 100%;
    z-index: 100;
  }
  
  .close-btn{
    background: var(--accent-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 10px;
    color: #f3f3c7;
    font-size: large;
    font-weight: 700;
    padding: .5rem 1rem;
    position: absolute;
    margin-left: 6.6rem;
    margin-top: -1.5rem;
    display: inline-block;
    transition: background 300ms;
  }
  
  .close-btn:hover{
    color: var(--text-color);
    cursor: pointer;
    background: var(--alt-accent-color);
  }
  
  .games {
    gap: 1rem;
    position: relative;
    height: 35rem;
    left: .75rem;
    width: 95%;
  }
  
  .game-card{
    background: var(--light-green);
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow);
    /* cursor: pointer; */
    position: relative;
    height: 12.69rem;
    margin-top: .5rem;
    width: 10rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }
  
  .library-game-name{
    color: var(--text-color);
    font-weight: 600;
    height: 1.3rem;
    margin-top: 10rem;
    width: 10rem;
    z-index: 1;
  }
  
  
  .search-card{
    background: var(--light-green);
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow);
    /* cursor: pointer; */
    display: grid;
    position: relative;
    height: 10rem;
    margin-top: .5rem;
    margin-left: 2%;
    width: 95%;
  }
  
  .search-card > p{
    font-size: 6cqi;
  }
  
  .game-img{
    border-radius: var(--main-border-radius);
    box-shadow: 3px 3px 7px var(--alt-accent-color);
    position: absolute;
    top: .7rem;
    height: 9rem;
    width: 8.5rem;
    object-fit: cover;
    transition: 500ms ease;
  }
  
  .game-info{
    bottom: -1rem;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    height: .9rem;
    padding: 0.24rem 0 0.24rem 0;
    position:absolute;
    width: 100%;
    z-index: 100;
  }
  
  .grid-box {
    display: grid;
    position: relative;
  }
  
  .add-btn{
    position: absolute;
    background: var(--accent-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 10px;
    color: #f3f3c7;
    font-size: large;
    font-weight: 700;
    padding: 1rem 2rem;
    margin-left: 60.5%;
    bottom: 1rem;
    transition: background 300ms;
  }
  
  .add-btn:hover{
    background: var(--alt-accent-color);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .remove-btn{
    position: absolute;
    background: var(--accent-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 10px;
    color: #f3f3c7;
    font-size: large;
    font-weight: 700;
    padding: .5rem 1rem;
    margin-left: 70%;
    top: .25rem;
    transition: background 300ms;
    z-index: 100;
  } 
  
  .remove-btn:hover{
    background: var(--alt-accent-color);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .preview-img{
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow);
    position: absolute;
    left: 0.5rem;
    top: .5rem;
    height: 9rem;
    width: 9rem;
    object-fit: cover;
  }
  
  .game-name{
    color: var(--text-color);
    font-weight: 600;
    height: 1.3rem;
    margin-left: 50%;
    margin-top: .4rem;
    width: 10rem;
    z-index: 1;
  }
  
  .active{
    display: block;
  }
  
  .recommend {
    margin-top: 2.5rem;
  }
  
  .rec-games {
    grid-template-columns: repeat(5, 1fr);
    gap: 3.14rem;
  }
  
  .rec-game-card > img {
    border-radius: var(--main-border-radius);
  }
  
  
  /* LIBRARY */
  
  .text{
    margin: 0 1rem;
  }
  
  .lib-games{
    justify-content: space-evenly;
    gap: .5rem .75rem;
    grid-auto-flow: row; 
    grid-template-columns: repeat(2, 9.5rem);
    padding: 0.5rem;
    position: relative;
    margin-left: -2%;
    height: auto;
  }
  
  /* NAVIGATION */
  
  .logo{
    position: absolute;
    border-radius: var(--main-border-radius);
    left: 1rem;
    z-index: 210;
  }
  
  .logo-img {
    width: 4rem;
  }
  
  .menu-icon{
    visibility: hidden;
  }
  
  .nav-box{
    background: var(--dark-green);
    box-shadow: 0 0 3px #1d412f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 5rem;
    z-index: 200; 
  }
  
  .search_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    z-index: 100;
  }
  
  #search_bar{
    background-color: whitesmoke;
    border-radius: 50px;
    /* cursor: pointer; */
    font-size: 1rem;
    width: 50%;
    border: none;
    box-shadow: 0 0 3px 1px grey;
    color: black;
    padding: .5rem 0 .5rem .75rem;
    cursor: text;
  }
  
  #search_button{
    background: none;
    border: none;
    margin-left: -2.75rem;
    font-size: .75rem;
    font-weight: 500;
    height: 2rem;
  }
  
  #search_button:hover{
    color:#30393a;
    cursor: pointer;
  }
  
  /* FOOTER */
  .copy {
    font-size: small;
    position: relative;
    top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .foot {
    height: 3rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  
  .social-logo{
    margin-top: .75rem;
    max-width: 2rem;
    margin-left: .75rem;
  }
  
  
  /* MEDIA QUERIES */
  
  @media (min-width: 410px){
    #modal{
      height: 55%;
    }
  
    .gallery-img{
      width: 17.5rem;
      height: 17.5rem;
    }
  
    .game-card{
      width: 11rem;
      height: 15.7rem;
    }
  
    .game-img{
      width: 10rem;
      height: 10rem;
    }
  
    .library-game-name{
      margin-top: 10.9rem;
    }
  
    .lib-games{
      justify-content: space-evenly;
      /* gap: .5rem 2.5rem; */
      margin-left: -6%;
    }
    .remove-btn{
      margin-left: 73%;
    }
  
    .feature-add-btn{
      position: absolute;
      margin-left: .25rem;
    }
    
  }
  
  @media (min-width: 800px){
    #modal{
      height: 45%;
      width: 55%;
    }
  
    .add-btn{
      margin-left: 60%;
      padding: 1.5rem 4rem;
    }
  
    .feature-card {
      height: 25rem;
      width: 90%;
    } 
  
    .games{
      width: 70%;
      margin-left: 15%;
    }
  
    .game-name{
      margin-left: 60%;
      height: 4rem;
      overflow: hidden;
    }
    
    .gallery{
      background: var(--light-green);
      border-radius: var(--main-border-radius);
      height: 25rem;
      padding: 0 1rem;
      position: relative;
      width: 85%;
    }
    
    .gallery-img{
      border-radius: var(--main-border-radius);
      height: 20rem;
      width: 20rem;
      object-fit: cover;
      margin-left: -18rem;
      margin-top: 2.5rem;
    }
  
    .foot{
      margin-top: 5.2rem;
    }
  
    .feature-name{
      margin-left: 59%;
      margin-top: -20rem;
      }
  
    .feature-des{
      width: 40%;
      margin-left: 59%;
    }
  
    .next-btn{
      margin-top: -2.5rem;
      right: .5rem;
    }
    
    .search-lable{
      margin-top: -2rem;
    }
  
  
    .prev-btn{
      margin-top: -2.5rem;
      left: .5rem;
    }
  
    .preview-img{
      width: 16em;
    }
  
    .lib-games{
      gap: 1rem;
      grid-template-columns: repeat(4, 11.5rem);
      margin-left: 1%;
    }
  
    .game-img{
      width: 10rem;
      height: 10rem;
    }
  
    .library-game-name{
      margin-top: 11rem;
    }
  
    .game-card{
      width: 11rem;
      height: 15.7em;
    }
  
    .feature-add-btn{
      top: 1.5rem;
      left: 47%;
    }
    
  }
  
  
  @media (min-width: 992px){
    #modal{
      height: 42%;
      width: 50%;
    }
  
    .close-btn{
      margin-top: -1.4rem;
    }
  
    .gallery-img{
      width: 25rem;
      margin-left: -25rem;
    }
  
    .feature-des{
      width: 50%;
    }
  
    .games {
      grid-template-columns: 1fr 1fr;
      margin-left: 1rem;
      width: 95%;
    }
  
    .preview-img{
      width: 12.5rem;
    }
  
    .game-name{
      margin-left: 55%;
      width: 10rem;
    }
  
    .add-btn{
      margin-left: 55%;
    }
  
    .lib-games{
      grid-template-columns: repeat(5, 1fr);
      margin-left: .5%;
    }
  
    .game-img{
      width: 10rem;
      height: 10rem;
    }
  
    .game-card{
      width: 11rem;
    }
  
    .feature-add-btn{
      left: 45.75%;
    }
  }
  
  @media (min-width: 1200px){
    #modal{
      height: 47%;
      width: 35%;
    }
  
    .feature-name{
      margin-left: 27rem;
    }
  
    .gallery-img{
      margin-left: -34rem;
    }
  
    .feature-des{
      /* width: 0%; */
      margin-left: 49%;
    }
  
    .preview-img{
      width: 16rem;
    }
  
    .game-name{
      margin-left: 60%;
    }
  
    .add-btn{
      margin-left: 60%;
    }
  
    .lib-games{
      grid-template-columns: repeat(6, 1fr);
    }
  
    .feature-add-btn{
      left: 38.5%;
    }
  }
  
  @media (min-width: 1400px){
    #modal{
      height: 42%;
      width: 35%;
    }
  
    .feature-name{
      margin-left: 25rem;
    }
  
    .gallery{
      width: 70%;
    }
  
    .gallery-img{
      margin-left: -55%;
    }
  
    .games{
      margin-left: 1.5%;
    }
  
    .lib-games{
      grid-template-columns: repeat(7, 1fr);
    }
  
    .feature-add-btn{
      left: 40.5%;
    }
  }
  
  @media (min-width: 1500px){
    .feature-add-btn{
      left: 39.5%;
    }
  }
  
  @media (min-width: 1600px){
    .feature-add-btn{
      left: 38.5%;
    }
  }
  
  @media (min-width: 1700px){
    .feature-add-btn{
      left: 37.5%;
    }
  }
  
    @media (min-width: 1900px){
      #modal{
        width: 27%;
      }
  
      .feature-name{
        margin-left: 33rem;
      }
  
      .feature-des{
        width: 44%;
        margin-left: 34.9rem;
      }
  
      .gallery{
        width: 60%;
      }
  
      .gallery-img{
        width: 30rem;
        margin-left: -35.7rem;
      }
  
      .games{
        width: 70%;
        margin-left: 14.5%;
      }
  
      .lib-games{
        grid-template-columns: repeat(8, 1fr);
      }
  
      .game-img{
        width: 12rem;
        height: 12rem;
      }
  
      .library-game-name{
        margin-top: 13rem;
      }
    
      .game-card{
        width: 13rem;
        height: 17rem;
      }
  
      .feature-add-btn{
        left: 42.5%;
      }
  
      .foot{
        margin-top: 9rem;
      }
  
      .remove-btn{
        margin-left: 77%;
      }
    }
  
  